* {
    margin: 0;
    padding: 0;
}
:root {
    --white: #ffff;
    --white2: #aeafae;
    --white3: #6a6a6a;
    --white4: #858884;
    --white5: #f0f0f0;
    --black: #000;
    --blue: #009688;
}
@font-face {
    font-family: name;
    src: url('');
}

/* CSS */
/*header*/
.header {
    width: 100%;
    height: 50px;
    background-color: var(--black);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 2;
}
/*market links*/
.market-links {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}
.title {
    color: var(--white);
    font-size: 12.5pt;
    margin-bottom: 1rem;
    background-color: var(--blue);
}
/*links & droplist*/
.market-links a, .droplist {
    height: 50px;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    padding: 0.85rem 1rem 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.market-links a:hover {
    background-color: var(--white);
    color: var(--black);
}
/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

/*search input*/
.search-input {
    border: none;
    outline: none;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
    padding: 2.5px 0.5rem;
    display: none;
}
.search {
    margin-left: auto;
    padding: 0.7rem 0.5rem 0;
}
.search i {padding-right: 0.5rem;}
.search i:hover {cursor: pointer;}

/*menu icon*/
.bars {
    height: 50px;
    color: var(--white);
    display: inline-block;
    padding: 1rem 1.5rem 0;
}
.bars:hover {cursor: pointer;}

/*mobile*/
.mobile {
    width: 100%;
    height: auto;
    background-color: var(--black);
    padding-bottom: 0.25rem;
    display: none;
    position: fixed;
    top: 51;
    z-index: 2;
}
.mobile-list {
    list-style-type: none;
}
/*mobile links*/
.mobile-list a {
    color: var(--white);
    display: block;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.mobile-list a {
    padding: 0.75rem 0.75rem;
    margin: 0.75rem 0;
}
.mobile-list a:hover {
    color: var(--white);
    text-decoration: none;
    background-color: var(--white2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.mobile-list i {
    padding-right: 0.5rem;
}
/*mobile search*/
.mobile-search {
    display: block;
    margin: 0 auto 0;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/*bars in large screen*/
.bars-part {display: none;}

/*content*/
.learn {
    width: 100%;
    height: 620px;
    background: url('./Pictures/sea.jpg') center center/cover;
    position: relative;
}
.learn-btn {
    padding: 0.75rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.learn-btn:hover {
    background-color: var(--blue);
}
/*team*/
.team {
    width: 100%;
    height: auto;
    text-align: center;
}
.team h2 {
    font-weight: normal;
    letter-spacing: 5px;
    padding: 1em 0 0.75rem;
}
.team-members {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 2em;
}
/*team figures*/
.figure-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.figure-img:hover {opacity: 0.8;}
.figure-caption {
    color: var(--black);
    font-size: 15pt;
}
/*work*/
.work {
    width: 100%;
    height: auto;
    background-color: var(--white3);
    color: var(--white);
}
.work-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-evenly;
    align-content: center;
    height: auto;
    margin-bottom: 0;
    padding: 2em 0;
}
/*work figures & title*/
.figure2, .our-work {
    width: 235px;
    height: auto;
}
.our-work h2 {
    letter-spacing: 2.5px;
}
.figure-img2 {
    width: 100%;
    height: 157px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.figure2:hover .figure-img2 {
    opacity: 0.8;
}
.figure-caption2 {
    width: 100%;
    height: 200px;
    background-color: var(--white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--black);
}
.figure-caption2 h4 {
    padding-top: 1rem;
    font-weight: normal;
}
/*services*/
.services {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 1em;
}
.services h3 {
    font-size: 27.5pt;
    font-weight: normal;
    letter-spacing: 2.5px;
    padding-top: 1em;
}
/*pricing list*/
.pricing-list {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.pricing-list li {
    width: 30%;
    height: auto;
    margin: 0 auto 0;
}
/*pricing options*/
.list-options {
    box-shadow: 0 0 2.5px var(--black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.pricing-options {
    list-style-type: none;
}
.pricing-options li {
    width: 100%;
    text-align: center;
}
.options-title {
    padding: 1em 0;
    background-color: var(--black);
    color: var(--white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.options-features {
    padding: 1rem 0;
}
.options-price {
    padding: 1.5em 0;
}
/*option signUp*/
.option-signUp {
    padding: 1.5rem 0;
    background-color: var(--white5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.option-button {
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.option-button:hover {
    color: var(--white);
    background-color: var(--black);
}
.pro-option {
    background-color: var(--white4);
}
/*side menu button*/
.sideMenu-button {
    padding: 1rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}
.sideMenu-button:hover {
    cursor: pointer;
}
/*side menu*/
.sidenav {
    height: 93%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
/*sidenav close button*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.closebtn {color: var(--white);}
.closebtn:hover {
    color: var(--blue);
    text-decoration: none;
}
/*mobile services list*/
.mobile-servicesList {
    list-style-type: none;
    text-align: left;
}
.mobile-servicesList h3 {
    color: var(--white);
}
.mobile-servicesList a {
    color: var(--white);
    padding: 0.5rem 1rem;
    width: 100%;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.mobile-servicesList a:hover {
    text-decoration: none;
    background-color: var(--white5);
    color: var(--black);
}
/*contact*/
.contact {
    width: 100%;
    height: auto;
    background-color: var(--white4);
    color: var(--white5);
}
.contact-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 2em 0;
}
/*address & form*/
.address {
    width: 45%;
    height: auto;
}
.form {
    width: 50%;
    height: auto;
    background-color: var(--white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-bottom: 1rem;
    color: var(--black);
}
.address h3 {
    font-weight: 500;
    border-bottom: 5px solid var(--blue);
    display: inline-block;
    margin-bottom: 1rem;
}
.address h4 {
    padding-top: 1em;
}
.address-info {
    list-style-type: none;
}
.address-info li {
    padding: 0.5rem 0;
}
/*contact icons*/
.marker {
    padding-right: 1rem;
    color: var(--white5);
}
.phone, .envelope {
    font-size: 15pt;
    color: var(--white5);
    padding-right: 0.5rem;
}
a[href="mailto:test@test.com"] {
    color: #7fffd4;
}
a[href="mailto:test@test.com"]:hover {
    text-decoration: none;
    color: var(--white5);
}
.form-fields {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0 0.5rem 2.35rem;
    border-bottom: 2px solid var(--white4);
}
form label {
    padding-top: 1rem;
}
.form-completion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 1rem;
}
/*form fields*/
#Name {
    background: var(--white) url('./Pictures/person-30.png') 0 5px no-repeat;
}
#Email {
    background: var(--white) url('./Pictures/email-30.png') 0 5px no-repeat;
}
#Message {
    background: var(--white) url('./Pictures/message-30.png') 0 5px no-repeat;
    resize: none;
}
/*submit*/
button[type="submit"] {
    padding: 0.5rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
button[type="submit"]:hover {
    background-color: var(--white2);
    color: var(--black);
}
/*map image*/
.map {
    width: 100%;
    height: 610px;
}
/*footer*/
.footer {
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    padding: 3em 0;
    position: relative;
}
.social-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
}
/*back to top button*/
.back-top {
    position: absolute;
    right: 100px;
    top: 100px;
}
.top-button {
    border: none;
    background-color: var(--black);
}
.top-button i {
    color: var(--white);
    font-size: 35px;
}
.top-button i:hover {
    color: var(--white2);
}
/*social links*/
.social-links {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0.5rem 0;
}
.social-links li {
    padding: 0 5px;
}
.social-links a {
    color: var(--white);
}
.social-links i {
    padding: 0.75rem;
    background-color: var(--blue);
    font-size: 25px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.social-links i:hover {
    background-color: var(--white);
    color: var(--black);
}